<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
	/// <summary>
	/// <#=enumDef.Brief #>
	///	</summary>
	public enum <#=enumDef.Name #> : int
	{
<#	foreach(var member in enumDef.Members){ #>
		/// <summary>
		/// <#=member.Brief #>
		/// </summary>
		<#=member.Name #> = asd.swig.<#=enumDef.Name #>.<#=member.Name #>,
<#	} #>
	}
